NEXT_PUBLIC_LEMON_SQUEEZY_STORE_ID=
NEXT_PUBLIC_LEMON_SQUEEZY_PRODUCT_ID=
LEMON_SQUEEZY_WEBHOOK_SECRET=
ACCESS_COOKIE_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
ALERT_EMAIL_TO=
